/* Base Style */ 
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
}


/* Header */ 
header{
    height: 70px;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: 0 0 20px #d2d2d2;
    display: block;
}
.top-header .logo{
    padding-left: 20px;
    width: 70px;
    float: left;
}

.top-header .logo > img{
    height: 50px;
    padding: 10px 0;
}
.top-header .title{
    line-height: 70px;
    width: 500px;
    float: left;
    font-size: 26px;
    font-weight: 600;
}

/* Content */
#content{
    padding: 40px;
    background-color: #f4f4f4;
}
.lesson{
    padding: 20px 10px;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 3px;
}
.lesson .title{
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 3px solid #e55053;
}
.lesson .description{
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
}

.exercise {
    padding: 5px 20px;
    background-color: #f4f4f4;
    font-weight: 400;
}

.exercise .summary{
    font-size: 16px;
}

.exercise .items{
    font-size: 14px;
}


.exercise .items li{
    padding: 5px;
}
.task-code{
    padding: 20px;
    background-color: #c3c3c3;
}
.task-code .node-line{
    padding: 10px;
}




/* Form Login */

.login_form{
    border: 2px solid #242424;
    border-radius: 3px;
    padding: 20px;
}


.login_form input{
    display: block;
}

input[type=text]{
    padding: 5px 20px 5px 5px;
    border: 1px solid #242424;
    font-size: 14px;
    outline: none;
    border-radius: 3px;
}

input[type=button]{
    border: none;
    background: #e55053;
    color: #fff;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 3px;
    margin-top: 20px;
}
input[type=button]:hover{
    cursor: pointer;
}

.chat_title{
    font-weight: 700;
    border-bottom: 1px solid #f0f0f0;
    height: 50px;
    line-height: 50px;
    margin-top: -20px;
    padding-right: 20px;
    margin-right: -20px;
    padding-left: 28px;
    font-size: 14px;
    position: relative;
}

.chat_rec{
    display: block;
    width: 8px;
    height: 8px;
    background: #cd192e;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -4px;
}
.chat_rec:after {
   content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #cd192e;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation: rec 3s infinite cubic-bezier(0.19, 1, 0.22, 1);
    animation: rec 3s infinite cubic-bezier(0.19, 1, 0.22, 1); 
}
