/* Base Style */ 
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
}


/* Header */ 
header{
    height: 70px;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: 0 0 20px #d2d2d2;
    display: block;
}
.top-header .logo{
    padding-left: 20px;
    width: 70px;
    float: left;
}

.top-header .logo > img{
    height: 50px;
    padding: 10px 0;
}
.top-header .title{
    line-height: 70px;
    width: 500px;
    float: left;
    font-size: 24px;
    font-weight: 600;
}

/* Content */
#content{
    padding: 40px;
    background-color: #f4f4f4;
}
.lesson{
    padding: 20px 10px;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 3px;
}
.lesson .title{
    font-size: 18px;
    padding: 5px;
    margin-bottom: 20px;
    border-left: 3px solid #e55053;
}
.lesson .description{
    font-family: 'Open Sans', sans-serif;
    padding: 0 10px;
}