/* Base Style */ 
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
}


/* Header */ 
header{
    height: 70px;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: 0 0 20px #d2d2d2;
    display: block;
}
.top-header .logo{
    padding-left: 20px;
    width: 70px;
    float: left;
}

.top-header .logo > img{
    height: 50px;
    padding: 10px 0;
}
.top-header .title{
    line-height: 70px;
    width: 500px;
    float: left;
    font-size: 26px;
    font-weight: 600;
}

/* Content */
#content{
    padding: 40px;
    background-color: #f4f4f4;
}
.lesson{
    padding: 20px 10px;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 3px;
}
.lesson .title{
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 3px solid #e55053;
}
.lesson .description{
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
}

.exercise {
    padding: 5px 20px;
    background-color: #f4f4f4;
    font-weight: 400;
}

.exercise .summary{
    font-size: 16px;
}

.exercise .items{
    font-size: 14px;
}


.exercise .items li{
    padding: 5px;
}
.task-code{
    padding: 20px;
    background-color: #c3c3c3;
}
.task-code .node-line{
    padding: 10px;
}

/* Lesson3*/
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden
    color: #000;
    background-color: #ccc;
}
.navbar li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.navbar li {
    padding: 10px;
}

.navbar li a:hover{
    cursor: pointer;
}

.pane{
    background-color: #e2e2e2;
    padding: 20px;
    font-size: 14px;
}
.loading{
    text-align: center;
}



ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #dddddd;
}

/* Create an active/current tablink class */
.active {
    background-color: #cccccc;
    border-bottom: 3px solid #E55058;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}