<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AngularJS | Course</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="./img/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
        <script src="https://code.angularjs.org/1.5.0/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
    </head>
    <body>
        <header class="top-header">
            <div class="logo">
                <img src="./img/angular.svg"/>
            </div>
            <div class="title">AngularJS | Training</div>
        </header>
        <div id="content">
            <div class="lesson">
                <div class="title">Lesson 1</div>
                <div class="description">
                    <div ng-app="MyApp" ng-init="syncVal='Test_2'">
                        <span ng-bind="syncVal"></span>
                        <div ng-controller="MyCtrl">
                            <input type="text" ng-model="syncVal">
                            <span ng-bind="syncVal"></span>
                        </div>
                        <div ng-controller="MyCtrl">
                            <input type="text" ng-model="syncVal">
                            <span ng-bind="syncVal"></span>
                        </div>
                    </div>
                 </div>   
            </div>
             <script>
            var app = angular.module('MyApp', []);
                app.controller('MyCtrl', function($scope) {
                    $scope.syncVal = $scope.syncVal;
                });
            </script>
            <div class="lesson">
                <div class="title">Lesson 2</div>
                <div class="description">
                </div>   
            </div>
    </body>
</html>